<!-- Modal de Confirmação -->
<div class="modal fade" #modalElement [id]="modalId" tabindex="-1"
    aria-labelledby="confirmModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title" id="confirmModalLabel">{{ title }}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"
                    aria-label="Fechar"></button>
            </div>

            <div class="modal-body">
                {{ message }}
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary"
                    (click)="closeModal()">Cancelar</button>
                <button type="button" class="btn btn-danger"
                    (click)="confirm()">Confirmar</button>
            </div>

        </div>
    </div>
</div>
