<div class="modal fade"
     #modalElement
     [id]="modalId"
     tabindex="-1"
     aria-labelledby="confirmModalLabel"
     aria-hidden="true">

  <div class="modal-dialog">
    <div class="modal-content border rounded shadow bg-white p-4">
      <h5 class="text-white text-center rounded p-3 mb-4"
          style="background-color: teal;"
          id="confirmModalLabel">
        {{ title }}
      </h5>
      <div class="modal-body">
        {{ message }}
      </div>
      <div class="modal-footer d-flex justify-content-between">
        <button type="button" class="btn btn-secondary"
                (click)="closeModal()">Cancelar</button>
        <button type="button" class="btn btn-danger"
                (click)="confirm()">Confirmar</button>
      </div>
    </div>
  </div>
</div>
