<div class="container">

  <nav class="navbar navbar-expand-lg bg-body-tertiary">

    <div class="container-fluid">

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          
          <!--Diário-->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button"
             data-bs-toggle="dropdown" aria-expanded="false">
              Diário
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" [routerLink]="['/diario/new']">Novo</a></li>
              <li><a class="dropdown-item" [routerLink]="['/diario/list']">Listar</a></li>

            </ul>
          </li>

          <!--Apartamento-->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button"
             data-bs-toggle="dropdown" aria-expanded="false">
              Apartamento
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Novo</a></li>
              <li><a class="dropdown-item" href="#">Listar</a></li>
            </ul>
          </li>

        </ul>
      </div>

    </div>
  </nav>

</div>
