
<div class="container mt-4">

  <div class="border rounded shadow bg-white p-3">

    <nav class="navbar navbar-expand-lg">
      <div class="container-fluid">


        <button class="navbar-toggler" type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent"
                aria-expanded="false"
                aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>


        <div class="collapse navbar-collapse mt-2 mt-lg-0" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">

            <li class="nav-item">
              <a class="nav-link active fw-semibold" aria-current="page" href="#">Home</a>
            </li>


            <li class="nav-item dropdown" *ngIf="auth.temPermissao('ROLE_ADMIN')">
              <a class="nav-link dropdown-toggle fw-semibold" href="#" data-bs-toggle="dropdown">Diário</a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" [routerLink]="['/diario/new']">Novo</a></li>
                <li><a class="dropdown-item" [routerLink]="['/diario/list']">Listar</a></li>
              </ul>
            </li>


            <li class="nav-item dropdown" *ngIf="auth.temPermissao('ROLE_ADMIN')">
              <a class="nav-link dropdown-toggle fw-semibold" href="#" data-bs-toggle="dropdown">Prédio</a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" [routerLink]="['/predio/new']">Novo</a></li>
                <li><a class="dropdown-item" [routerLink]="['/predio/list']">Listar</a></li>
              </ul>
            </li>


            <li class="nav-item dropdown" *ngIf="auth.temPermissao('ROLE_ADMIN')">
              <a class="nav-link dropdown-toggle fw-semibold" href="#" data-bs-toggle="dropdown">Apartamento</a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" [routerLink]="['/apartamento/new']">Novo</a></li>
                <li><a class="dropdown-item" [routerLink]="['/apartamento/list']">Listar</a></li>
              </ul>
            </li>


            <li class="nav-item dropdown" *ngIf="auth.temPermissao('ROLE_ADMIN')">
              <a class="nav-link dropdown-toggle fw-semibold" href="#" data-bs-toggle="dropdown">Valor</a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" [routerLink]="['/valor/new']">Novo</a></li>
                <li><a class="dropdown-item" [routerLink]="['/valor/list']">Listar</a></li>
              </ul>
            </li>


            <li class="nav-item dropdown" *ngIf="auth.temPermissao('ROLE_ADMIN')">
              <a class="nav-link dropdown-toggle fw-semibold" href="#" data-bs-toggle="dropdown">Inquilino</a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" [routerLink]="['/inquilino/new']">Novo</a></li>
                <li><a class="dropdown-item" [routerLink]="['/inquilino/list']">Listar</a></li>
              </ul>
            </li>
          </ul>


          <div class="d-flex align-items-center ms-auto bg-dark px-3 py-1 rounded text-white">
            <span class="fw-bold text-uppercase">{{ emailUsuario }}</span>
          </div>
        </div>
      </div>
    </nav>
  </div>
</div>